<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
        <img src="AmberHotel.png" width="900em" alt="main logo">
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </a>
        <% include header.ejs %>

        <div class = "container">
            <table border="0" width="65%" cellpadding="2" style="font-size:2em">
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Count</th>
                </tr>
                <tr>
                  <td>Chicken Biryani</td>
                  <td>$10</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Chicken Tikka</td>
                  <td>$10</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Mutton Biryani</td>
                  <td>$10</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Paneer Tikka</td>
                  <td>$10</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Palak Paneer</td>
                  <td>$10</td>
                  <td></td>
                </tr>
              </table>
              <input type = "button" value = "Checkout" class = "btn-success">
            </div>
              
</body>
</html>